#bootscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #01717e;
  animation: hideit 0.25s steps(1, end) 3s forwards;
}

#console {
  position: relative;
  margin: auto;
  background-color: white;
  border: 5px solid black;
  box-sizing: border-box;
  width: 95%;
  height: 93%;
  margin: auto;
  margin-top: 25px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

#bar {
  background-color: #cacaca;
  padding: 5px 0px 3px 30px;
}

#boottext {
  padding-left: 5px;
  overflow: hidden;
  height: 290px;
  animation: writeit 0.75s steps(18, end) 2s forwards;
  margin: 0;
}

@keyframes writeit {
  to {
    height: 630px;
  }
}

@keyframes hideit {
  to {
    visibility: hidden;
  }
}

