pre {
    font-family: 'Classic Console Neue', monospace;
}

#term {
    position: absolute;
    background-color: white;
    border: 4px solid #55abaa;
    width: 450px;
    height: 300px;
    top: 250px;
    left: 20px;
    box-sizing: border-box;

    visibility: hidden;
    animation: appear 0s linear 4s forwards, unfocusterm 0s steps(1) 5.25s forwards;
}

#scrollbar {
    border-right: 2px solid #adadad;
    box-sizing: border-box;
    float: left;
    width: 15px;
    height: 100%;
    margin-right: 5px;
}

#prompt {
    margin-top: 2px;
    display: flex;
}

#command {
    overflow: hidden;
    width: 0px;
    animation: typeit 0.25s steps(6) 4s forwards; 
}

#ps1 {
    float: left;
    margin-right: 0.5em;
}

#output {
    overflow: hidden;
    height: 0em;
    animation: outputit 0.25s steps(2) 4.25s forwards;
}

#secondprompt {
    visibility: hidden;
    animation: appear 0s steps(1) 4.5s forwards;
}

@keyframes typeit {
    to {
        width: 48px;
    }
}

@keyframes unfocusterm {
    to {
        border-color: #9eefee;
        color: #666666;
    }
}

@keyframes outputit {
    to {
        height: 10em;
    }
}
